.para,
.small-para {
  color: hsl(0, 100%, 50%);

} 
.para {
  font-size: 22px;
}

#cancel-button{
    background-color: white;
    color: black;
    font-size: 22px;
}
.button.confirm {
  background-color: green;
  font-size: 20px;
  color: white;
}

div.text {
  color: green;
  font-size: 22px;
}
div.child {
  color: red;
  font-size: 12px;}

.small-para{
    font-size: 14;
  }
   
  
  


